.goog-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  -webkit-transition: opacity 0.218s;
  -moz-transition: opacity 0.218s;
  -o-transition: opacity 0.218s;
  transition: opacity 0.218s;
  background: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  cursor: default;
  font-size: 13px;
  margin: 0;
  outline: none;
  padding: 6px 0;
  position: absolute;
}
.goog-menuitem, .goog-tristatemenuitem, .goog-filterobsmenuitem {
  position: relative;
  color: #333;
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 6px 8em 6px 30px;
  white-space: nowrap;
}
.goog-menu-nocheckbox .goog-menuitem, .goog-menu-noicon .goog-menuitem {
  padding-left: 16px;
  vertical-align: middle;
}
.goog-menu-noaccel .goog-menuitem {
  padding-right: 44px;
}
.goog-menuitem-disabled {
  cursor: default;
}
.goog-menuitem-disabled .goog-menuitem-accel, .goog-menuitem-disabled .goog-menuitem-content {
  color: #ccc !important;
}
.goog-menuitem-disabled .goog-menuitem-icon {
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.goog-menuitem-highlight, .goog-menuitem-hover {
  background-color: #eee;
  border-color: #eee;
  border-style: dotted;
  border-width: 1px 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.goog-menuitem-highlight .goog-menuitem-content, .goog-menuitem-hover .goog-menuitem-content {
  color: #333;
}
.goog-menuitem-checkbox, .goog-menuitem-icon {
  background-repeat: no-repeat;
  height: 21px;
  left: 3px;
  position: absolute;
  right: auto;
  top: 3px;
  vertical-align: middle;
  width: 21px;
}
.goog-option-selected {
  background-image: url(//ssl.gstatic.com/ui/v1/menu/checkmark.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.goog-option-selected .goog-menuitem-content {
  color: #333;
}
.goog-menuitem-accel {
  color: #777;
  direction: ltr;
  left: auto;
  padding: 0 6px;
  position: absolute;
  right: 0;
  text-align: right;
}
.goog-menuitem-mnemonic-hint {
  text-decoration: underline;
}
.goog-menuitem-mnemonic-separator {
  color: #777;
  font-size: 12px;
  padding-left: 4px;
}
.jfk-textinput {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}
.jfk-textinput:focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  border: 1px solid #4d90fe;
  outline: none;
}
.jfk-textinput::-ms-clear {
  display: none;
}
.jfk-ac-renderer {
  padding-bottom: 0;
  padding-top: 0;
}
.jfk-ac-renderer .goog-menuitem {
  padding-left: 8px;
}
.jfk-bubble {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  background-color: #fff;
  border: 1px solid;
  border-color: #bbb #bbb #a8a8a8;
  padding: 16px;
  position: absolute;
  z-index: 1201 !important;
}
.jfk-bubble-closebtn {
  background: url("//ssl.gstatic.com/ui/v1/icons/common/x_8px.png") no-repeat;
  border: 1px solid transparent;
  height: 21px;
  opacity: .4;
  outline: 0;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 21px;
}
.jfk-bubble-closebtn:focus {
  border: 1px solid #4d90fe;
  opacity: .8;
}
.jfk-bubble-arrow {
  position: absolute;
}
.jfk-bubble-arrow .jfk-bubble-arrowimplbefore, .jfk-bubble-arrow .jfk-bubble-arrowimplafter {
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.jfk-bubble-arrow .jfk-bubble-arrowimplbefore {
  border: 9px solid;
}
.jfk-bubble-arrow .jfk-bubble-arrowimplafter {
  border: 8px solid;
}
.jfk-bubble-arrowdown {
  bottom: 0;
}
.jfk-bubble-arrowup {
  top: -9px;
}
.jfk-bubble-arrowleft {
  left: -9px;
}
.jfk-bubble-arrowright {
  right: 0;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore, .jfk-bubble-arrowup .jfk-bubble-arrowimplbefore {
  border-color: #bbb transparent;
  left: -9px;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore {
  border-color: #a8a8a8 transparent;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplafter, .jfk-bubble-arrowup .jfk-bubble-arrowimplafter {
  border-color: #fff transparent;
  left: -8px;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore {
  border-bottom-width: 0;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplafter {
  border-bottom-width: 0;
}
.jfk-bubble-arrowup .jfk-bubble-arrowimplbefore {
  border-top-width: 0;
}
.jfk-bubble-arrowup .jfk-bubble-arrowimplafter {
  border-top-width: 0;
  top: 1px;
}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore, .jfk-bubble-arrowright .jfk-bubble-arrowimplbefore {
  border-color: transparent #bbb;
  top: -9px;
}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplafter, .jfk-bubble-arrowright .jfk-bubble-arrowimplafter {
  border-color: transparent #fff;
  top: -8px;
}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore {
  border-left-width: 0;
}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplafter {
  border-left-width: 0;
  left: 1px;
}
.jfk-bubble-arrowright .jfk-bubble-arrowimplbefore {
  border-right-width: 0;
}
.jfk-bubble-arrowright .jfk-bubble-arrowimplafter {
  border-right-width: 0;
}
.jfk-bubble.jfk-bubble-promo {
  background-color: #f9edbe;
  border: 1px solid #f0c36d;
}
.jfk-bubble-promo .jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore, .jfk-bubble-promo .jfk-bubble-arrowup .jfk-bubble-arrowimplbefore {
  border-color: #f0c36d transparent;
}
.jfk-bubble-promo .jfk-bubble-arrowdown .jfk-bubble-arrowimplafter, .jfk-bubble-promo .jfk-bubble-arrowup .jfk-bubble-arrowimplafter {
  border-color: #f9edbe transparent;
}
.jfk-bubble-promo .jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore, .jfk-bubble-promo .jfk-bubble-arrowright .jfk-bubble-arrowimplbefore {
  border-color: transparent #f0c36d;
}
.jfk-bubble-promo .jfk-bubble-arrowleft .jfk-bubble-arrowimplafter, .jfk-bubble-promo .jfk-bubble-arrowright .jfk-bubble-arrowimplafter {
  border-color: transparent #f9edbe;
}
.goog-inline-block {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
}
* html .goog-inline-block {
  display: inline;
}
*:first-child+html .goog-inline-block {
  display: inline;
}
.jfk-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin-right: 16px;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  outline: 0px;
  padding: 0 8px;
}
.jfk-button-hover {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.jfk-button-selected {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.jfk-button .jfk-button-img {
  margin-top: -3px;
  vertical-align: middle;
}
.jfk-button-label {
  margin-left: 5px;
}
.jfk-button-narrow {
  min-width: 34px;
  padding: 0;
}
.jfk-button-collapse-left, .jfk-button-collapse-right {
  z-index: 1;
}
.jfk-button-collapse-left.jfk-button-disabled {
  z-index: 0;
}
.jfk-button-checked.jfk-button-collapse-left, .jfk-button-checked.jfk-button-collapse-right {
  z-index: 2;
}
.jfk-button-collapse-left:focus, .jfk-button-collapse-right:focus, .jfk-button-hover.jfk-button-collapse-left, .jfk-button-hover.jfk-button-collapse-right {
  z-index: 3;
}
.jfk-button-collapse-left {
  margin-left: -1px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.jfk-button-collapse-right {
  margin-right: 0px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.jfk-button.jfk-button-disabled:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.jfk-button-action {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  border: 1px solid #3079ed;
  color: #fff;
}
.jfk-button-action.jfk-button-hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
  border: 1px solid #2f5bb7;
  border-bottom-color: #2f5bb7;
}
.jfk-button-action:focus {
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  -moz-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
  border: 1px solid #fff;
  border: rgba(0,0,0,0) solid 1px;
  outline: 1px solid #4d90fe;
  outline: rgba(0,0,0,0) 0;
}
.jfk-button-action.jfk-button-clear-outline {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.jfk-button-action:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  background: #357ae8;
  border: 1px solid #2f5bb7;
  border-top: 1px solid #2f5bb7;
}
.jfk-button-action.jfk-button-disabled {
  background: #4d90fe;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.jfk-button-default {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #3d9400;
  background-image: -webkit-linear-gradient(top,#3d9400,#398a00);
  background-image: -moz-linear-gradient(top,#3d9400,#398a00);
  background-image: -ms-linear-gradient(top,#3d9400,#398a00);
  background-image: -o-linear-gradient(top,#3d9400,#398a00);
  background-image: linear-gradient(top,#3d9400,#398a00);
  border: 1px solid #29691d;
  color: #fff;
  text-shadow: 0px 1px rgba(0,0,0,0.1);
}
.jfk-button-default.jfk-button-hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #368200;
  background-image: -webkit-linear-gradient(top,#3d9400,#368200);
  background-image: -moz-linear-gradient(top,#3d9400,#368200);
  background-image: -ms-linear-gradient(top,#3d9400,#368200);
  background-image: -o-linear-gradient(top,#3d9400,#368200);
  background-image: linear-gradient(top,#3d9400,#368200);
  border: 1px solid #2d6200;
  border-bottom: 1px solid #2d6200;
  text-shadow: 0px 1px rgba(0,0,0,0.3);
}
.jfk-button-default:focus {
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  -moz-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
  border: 1px solid #fff;
  border: rgba(0,0,0,0) solid 1px;
  outline: 1px solid #3d9400;
  outline: rgba(0,0,0,0) 0;
}
.jfk-button-default.jfk-button-clear-outline {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.jfk-button-default:active {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  background: #368200;
  border: 1px solid #2d6200;
  border-top: 1px solid #2d6200;
}
.jfk-button-default.jfk-button-disabled {
  background: #3d9400;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.jfk-button-flat {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid transparent;
  font-size: 13px;
  font-weight: normal;
  height: 21px;
  line-height: 21px;
  margin-right: 1px;
  min-width: 0;
  padding: 0;
}
.jfk-button-flat.jfk-button-hover, .jfk-button-flat.jfk-button-selected, .jfk-button-flat:focus, .jfk-button-flat:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.jfk-button-flat .jfk-button-img {
  height: 21px;
  opacity: .55;
  width: 21px;
}
.jfk-button-flat .jfk-button-label {
  display: inline-block;
  margin: 0;
  padding: 0 1px;
}
.jfk-button-flat.jfk-button-selected .jfk-button-img, .jfk-button-flat.jfk-button-hover .jfk-button-img {
  opacity: 0.9;
}
.jfk-button-flat.jfk-button-disabled .jfk-button-img {
  filter: alpha(opacity=33);
  opacity: 0.333;
}
.jfk-button-flat:focus {
  border: 1px solid #4d90fe;
}
.jfk-button-flat.jfk-button-clear-outline {
  border: 1px solid transparent;
}
.jfk-button-mini {
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0,0,0,0.1);
  color: #444;
  height: 17px;
  line-height: 17px;
  min-width: 22px;
  text-shadow: 0px 1px rgba(0,0,0,0.1);
}
.jfk-button-mini.jfk-button-hover, .jfk-button-mini.jfk-button-clear-outline.jfk-button-hover {
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 1px solid #c6c6c6;
  text-shadow: 0px 1px rgba(0,0,0,0.3);
}
.jfk-button-mini:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.jfk-button-mini.jfk-button-checked, .jfk-button-mini.jfk-button-clear-outline.jfk-button-checked {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  background-color: #e0e0e0;
  background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
  background-image: -moz-linear-gradient(top,#eee,#e0e0e0);
  background-image: -ms-linear-gradient(top,#eee,#e0e0e0);
  background-image: -o-linear-gradient(top,#eee,#e0e0e0);
  background-image: linear-gradient(top,#eee,#e0e0e0);
  border: 1px solid #ccc;
  color: #333;
}
.jfk-button-mini:focus {
  border: 1px solid #4d90fe;
}
.jfk-button-mini.jfk-button-clear-outline {
  border: 1px solid #dcdcdc;
}
.jfk-button-mini.jfk-button-disabled {
  background: #fff;
  border: 1px solid #f3f3f3;
  border: 1px solid rgba(0,0,0,0.05);
  color: #b8b8b8;
}
.jfk-button-primary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #d14836;
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
  background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
  background-image: -o-linear-gradient(top,#dd4b39,#d14836);
  background-image: linear-gradient(top,#dd4b39,#d14836);
  border: 1px solid transparent;
  color: #fff;
  text-shadow: 0px 1px rgba(0,0,0,0.1);
  text-transform: uppercase;
}
.jfk-button-primary.jfk-button-hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  background-color: #c53727;
  background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
  background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
  background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
  background-image: -o-linear-gradient(top,#dd4b39,#c53727);
  background-image: linear-gradient(top,#dd4b39,#c53727);
  border: 1px solid #b0281a;
  border-bottom-color: #af301f;
}
.jfk-button-primary:focus {
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  -moz-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
  border: 1px solid #fff;
  border: rgba(0,0,0,0) solid 1px;
  outline: 1px solid #d14836;
  outline: rgba(0,0,0,0) 0;
}
.jfk-button-primary.jfk-button-clear-outline {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.jfk-button-primary:active {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  background-color: #b0281a;
  background-image: -webkit-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -moz-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -ms-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -o-linear-gradient(top,#dd4b39,#b0281a);
  background-image: linear-gradient(top,#dd4b39,#b0281a);
  border: 1px solid #992a1b;
  border-top: 1px solid #992a1b;
}
.jfk-button-primary.jfk-button-disabled {
  background: #d14836;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.jfk-button-standard {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  color: #444;
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0,0,0,0.1);
}
.jfk-button-standard.jfk-button-hover, .jfk-button-standard.jfk-button-clear-outline.jfk-button-hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 1px solid #c6c6c6;
  color: #333;
}
.jfk-button-standard:active, .jfk-button-standard.jfk-button-hover:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  background: #f8f8f8;
  color: #333;
}
.jfk-button-standard.jfk-button-selected, .jfk-button-standard.jfk-button-clear-outline.jfk-button-selected {
  background-color: #eee;
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 1px solid #ccc;
  color: #333;
}
.jfk-button-standard.jfk-button-checked, .jfk-button-standard.jfk-button-clear-outline.jfk-button-checked {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
  background-image: -moz-linear-gradient(top,#eee,#e0e0e0);
  background-image: -ms-linear-gradient(top,#eee,#e0e0e0);
  background-image: -o-linear-gradient(top,#eee,#e0e0e0);
  background-image: linear-gradient(top,#eee,#e0e0e0);
  border: 1px solid #ccc;
  color: #333;
}
.jfk-button-standard:focus {
  border: 1px solid #4d90fe;
  outline: none;
}
.jfk-button-standard.jfk-button-clear-outline {
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0,0,0,0.1);
  outline: none;
}
.jfk-button-standard.jfk-button-disabled {
  background: #fff;
  border: 1px solid #f3f3f3;
  border: 1px solid rgba(0,0,0,0.05);
  color: #b8b8b8;
}
.jfk-button-standard .jfk-button-img {
  opacity: .55;
}
.jfk-button-standard.jfk-button-checked .jfk-button-img, .jfk-button-standard.jfk-button-selected .jfk-button-img, .jfk-button-standard.jfk-button-hover .jfk-button-img {
  opacity: 0.9;
}
.jfk-button-standard.jfk-button-disabled .jfk-button-img {
  filter: alpha(opacity=33);
  opacity: 0.333;
}
.jfk-segmented-button-group {
  font-size: 0;
  white-space: nowrap;
}
.jfk-checkbox {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background-color: rgba(255,255,255,.05);
  border: 1px solid #c6c6c6;
  border: 1px solid rgba(155,155,155,.57);
  font-size: 1px;
  height: 11px;
  margin: 0px 4px 0px 1px;
  outline: 0;
  vertical-align: text-bottom;
  width: 11px;
}
.jfk-checkbox-undetermined {
  background-color: #fff;
  background-color: rgba(255,255,255,.65);
}
.jfk-checkbox-checked {
  background-color: #fff;
  background-color: rgba(255,255,255,.65);
}
.jfk-checkbox-hover {
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
  border: 1px solid #b2b2b2;
}
.jfk-checkbox-active {
  background-color: #ebebeb;
}
.jfk-checkbox-focused {
  border: 1px solid #4d90fe;
}
.jfk-checkbox-clearOutline.jfk-checkbox-focused {
  border: 1px solid #c6c6c6;
  border: 1px solid rgba(155,155,155,.57);
}
.jfk-checkbox-disabled, .jfk-checkbox-clearOutline.jfk-checkbox-disabled {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  cursor: default;
}
.jfk-checkbox-checkmark {
  height: 15px;
  outline: 0;
  width: 15px;
  left: 0;
  position: relative;
  top: -3px;
}
.jfk-checkbox-undetermined .jfk-checkbox-checkmark {
  background: url(img/checkmark-partial.png) no-repeat -5px -3px;
  background-image: -webkit-image-set(url(img/checkmark-partial.png)  1x,url(img/checkmark-2x/partial.png)  2x);
}
.jfk-checkbox-checked .jfk-checkbox-checkmark {
  background: url(img/checkmark.png) no-repeat -5px -3px;
  background-image: -webkit-image-set(url(img/checkmark.png)  1x,url(img/2x/checkmark.png)  2x);
}
.jfk-checkbox {
  position: relative;
  top: -2px;
}
.jfk-slideToggle {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0px 1px 2px 0 rgba(0,0,0,.1);
  -moz-box-shadow: inset 0px 1px 2px 0 rgba(0,0,0,.1);
  box-shadow: inset 0px 1px 2px 0 rgba(0,0,0,.1);
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
  background-image: -moz-linear-gradient(top,#eee,#e0e0e0);
  background-image: -ms-linear-gradient(top,#eee,#e0e0e0);
  background-image: -o-linear-gradient(top,#eee,#e0e0e0);
  background-image: linear-gradient(top,#eee,#e0e0e0);
  border: 1px solid #ccc;
  color: #666;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  margin-right: 16px;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 94px;
}
.jfk-slideToggle-on, .jfk-slideToggle-off, .jfk-slideToggle-thumb {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  width: 47px;
}
.jfk-slideToggle-on {
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.1);
  background-color: #398bf2;
  background-image: -webkit-linear-gradient(top,#3b93ff,#3689ee);
  background-image: -moz-linear-gradient(top,#3b93ff,#3689ee);
  background-image: -ms-linear-gradient(top,#3b93ff,#3689ee);
  background-image: -o-linear-gradient(top,#3b93ff,#3689ee);
  background-image: linear-gradient(top,#3b93ff,#3689ee);
  color: #fff;
  height: 27px;
}
.jfk-slideToggle-off {
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.jfk-slideToggle-thumb {
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0px 1px 2px 0 rgba(0,0,0,.1);
  box-shadow: 0px 1px 2px 0 rgba(0,0,0,.1);
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  -webkit-transition: all .130s ease-out;
  -moz-transition: all .130s ease-out;
  -o-transition: all .130s ease-out;
  transition: all .130s ease-out;
  border: 1px solid #ccc;
  display: block;
  height: 27px;
  left: -1px;
  position: absolute;
  top: -1px;
}
.jfk-slideToggle-thumb::after {
  content: '';
  background-image: -webkit-linear-gradient(left,#ccc 50%,transparent 50%) , -webkit-linear-gradient(left,#ccc 50%,transparent 50%) , -webkit-linear-gradient(left,#ccc 50%,transparent 50%) , -webkit-linear-gradient(left,#ccc 50%,transparent 50%) , -webkit-linear-gradient(left,#ccc 50%,transparent 50%);
  background-image: -moz-linear-gradient(left,#ccc 50%,transparent 50%) , -moz-linear-gradient(left,#ccc 50%,transparent 50%) , -moz-linear-gradient(left,#ccc 50%,transparent 50%) , -moz-linear-gradient(left,#ccc 50%,transparent 50%) , -moz-linear-gradient(left,#ccc 50%,transparent 50%);
  background-image: -ms-linear-gradient(left,#ccc 50%,transparent 50%) , -ms-linear-gradient(left,#ccc 50%,transparent 50%) , -ms-linear-gradient(left,#ccc 50%,transparent 50%) , -ms-linear-gradient(left,#ccc 50%,transparent 50%) , -ms-linear-gradient(left,#ccc 50%,transparent 50%);
  background-image: -o-linear-gradient(left,#ccc 50%,transparent 50%) , -o-linear-gradient(left,#ccc 50%,transparent 50%) , -o-linear-gradient(left,#ccc 50%,transparent 50%) , -o-linear-gradient(left,#ccc 50%,transparent 50%) , -o-linear-gradient(left,#ccc 50%,transparent 50%);
  background-image: linear-gradient(left,#ccc 50%,transparent 50%) , linear-gradient(left,#ccc 50%,transparent 50%) , linear-gradient(left,#ccc 50%,transparent 50%) , linear-gradient(left,#ccc 50%,transparent 50%) , linear-gradient(left,#ccc 50%,transparent 50%);
  background-position: 0 0 , 0 2px , 0 4px , 0 6px , 0 8px;
  background-repeat: repeat-x;
  background-size: 2px 1px;
  display: block;
  height: 9px;
  left: 15px;
  position: absolute;
  top: 9px;
  width: 17px;
}
.jfk-slideToggle.jfk-slideToggle-checked .jfk-slideToggle-thumb {
  left: 47px;
}
.jfk-slideToggle:focus {
  border: 1px solid #4d90fe;
}
.jfk-slideToggle.jfk-slideToggle-clearOutline {
  border: 1px solid #ccc;
}
.jfk-star {
  display: inline-block;
  height: 19px;
  text-align: center;
  width: 19px;
  padding: 2px;
}
.jfk-star:before {
  content: url(//ssl.gstatic.com/ui/v1/star/star4.png);
  content: -webkit-image-set(url(//ssl.gstatic.com/ui/v1/star/star4.png)  1x,url(//ssl.gstatic.com/ui/v1/star/star4_2x.png)  2x);
}
.jfk-star-hover:before {
  content: url(//ssl.gstatic.com/ui/v1/star/star-hover4.png);
  content: -webkit-image-set(url(//ssl.gstatic.com/ui/v1/star/star-hover4.png)  1x,url(//ssl.gstatic.com/ui/v1/star/star-hover4_2x.png)  2x);
}
.jfk-star-active:before {
  content: url(//ssl.gstatic.com/ui/v1/star/star-active4.png);
  content: -webkit-image-set(url(//ssl.gstatic.com/ui/v1/star/star-active4.png)  1x,url(//ssl.gstatic.com/ui/v1/star/star-active4_2x.png)  2x);
}
.jfk-star-checked:before {
  content: url(//ssl.gstatic.com/ui/v1/star/star-lit4.png);
  content: -webkit-image-set(url(//ssl.gstatic.com/ui/v1/star/star-lit4.png)  1x,url(//ssl.gstatic.com/ui/v1/star/star-lit4_2x.png)  2x);
}
.jfk-star-checked.jfk-star-hover:before {
  content: url(//ssl.gstatic.com/ui/v1/star/star-lit-hover4.png);
  content: -webkit-image-set(url(//ssl.gstatic.com/ui/v1/star/star-lit-hover4.png)  1x,url(//ssl.gstatic.com/ui/v1/star/star-lit-hover4_2x.png)  2x);
}
.jfk-star-checked.jfk-star-active:before {
  content: url(//ssl.gstatic.com/ui/v1/star/star-lit-active4.png);
  content: -webkit-image-set(url(//ssl.gstatic.com/ui/v1/star/star-lit-active4.png)  1x,url(//ssl.gstatic.com/ui/v1/star/star-lit-active4_2x.png)  2x);
}
.jfk-star {
  position: relative;
  top: 4px;
}
.jfk-star {
  position: relative;
  top: 4px;
}
.jfk-checkbox {
  position: relative;
  top: -2px;
}
.goog-flat-menu-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  border: 1px solid #dcdcdc;
  color: #444;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  line-height: 27px;
  list-style: none;
  margin: 0 2px;
  min-width: 46px;
  outline: none;
  padding: 0 18px 0 6px;
  text-align: center;
  text-decoration: none;
}
.goog-flat-menu-button-disabled {
  background-color: #fff;
  border-color: #f3f3f3;
  color: #b8b8b8;
}
.goog-flat-menu-button.goog-flat-menu-button-hover {
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  border-color: #c6c6c6;
  color: #333;
}
.goog-flat-menu-button.goog-flat-menu-button-focused {
  border-color: #4d90fe;
}
.goog-flat-menu-button.goog-flat-menu-button-open, .goog-flat-menu-button.goog-flat-menu-button-active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
  background-image: -moz-linear-gradient(top,#eee,#e0e0e0);
  background-image: -ms-linear-gradient(top,#eee,#e0e0e0);
  background-image: -o-linear-gradient(top,#eee,#e0e0e0);
  background-image: linear-gradient(top,#eee,#e0e0e0);
  border: 1px solid #ccc;
  color: #333;
  z-index: 2;
}
.goog-flat-menu-button-caption {
  vertical-align: top;
  white-space: nowrap;
}
.goog-flat-menu-button-dropdown {
  border-color: #777 transparent;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  height: 0;
  width: 0;
  position: absolute;
  right: 5px;
  top: 12px;
}
.goog-flat-menu-button .goog-flat-menu-button-img {
  margin-top: -3px;
  opacity: .55;
  vertical-align: middle;
}
.goog-flat-menu-button-active .goog-flat-menu-button-img, .goog-flat-menu-button-open .goog-flat-menu-button-img, .goog-flat-menu-button-selected .goog-flat-menu-button-img, .goog-flat-menu-button-hover .goog-flat-menu-button-img {
  opacity: 0.9;
}
.goog-flat-menu-button-active .goog-flat-menu-button-dropdown, .goog-flat-menu-button-open .goog-flat-menu-button-dropdown, .goog-flat-menu-button-selected .goog-flat-menu-button-dropdown, .goog-flat-menu-button-hover .goog-flat-menu-button-dropdown {
  border-color: #595959 transparent;
}
.goog-flat-menu-button-left, .goog-flat-menu-button-right {
  z-index: 1;
}
.goog-flat-menu-button-left.goog-flat-menu-button-disabled {
  z-index: 0;
}
.goog-flat-menu-button-right:focus, .goog-flat-menu-button-hover.goog-flat-menu-button-collapse-right {
  z-index: 2;
}
.goog-flat-menu-button-left:focus, .goog-flat-menu-button-hover.goog-flat-menu-button-collapse-left {
  z-index: 2;
}
.goog-flat-menu-button-collapse-left {
  margin-left: -1px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  min-width: 0;
  padding-left: 0;
  vertical-align: top;
}
.goog-flat-menu-button-collapse-right {
  margin-right: 0px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.goog-menuseparator {
  border-top: 1px solid #ebebeb;
  margin-top: 6px;
  margin-bottom: 6px;
}
.goog-submenu-arrow {
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  font-size: 70%;
  left: auto;
  right: 10px;
  padding-top: 3px;
  padding-right: 0;
  position: absolute;
  text-align: right;
  opacity: .5;
  filter: alpha(opacity=50);
}
.goog-menuitem-highlight .goog-submenu-arrow, .goog-menuitem-hover .goog-submenu-arrow {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  border-left-color: #999;
  opacity: 1.0;
}
.goog-menuitem-disabled .goog-submenu-arrow {
  color: inherit;
  opacity: 1.0;
}
.goog-tristatemenuitem-highlight, .goog-tristatemenuitem-hover, .goog-filterobsmenuitem-highlight, .goog-filterobsmenuitem-hover {
  background-color: #eee;
  border-color: #eee;
  border-style: dotted;
  border-width: 1px 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.goog-menuitem-highlight .goog-menuitem-content {
  color: #333;
}
.goog-menuitem-hover .goog-menuitem-content {
  color: #333;
}
.goog-tristatemenuitem-checkbox {
  background-repeat: no-repeat;
  height: 21px;
  left: 3px;
  position: absolute;
  right: auto;
  vertical-align: middle;
  width: 21px;
}
.goog-tristatemenuitem, .goog-tristatemenuitem-partially-checked, .goog-tristatemenuitem-fully-checked {
  background-repeat: no-repeat;
  background-position: left center;
}
.goog-tristatemenuitem {
  background-image: url(//ssl.gstatic.com/ui/v1/menu/tristate-unchecked.png);
}
.goog-tristatemenuitem-partially-checked {
  background-image: url(//ssl.gstatic.com/ui/v1/menu/tristate-partial.png);
}
.goog-tristatemenuitem-fully-checked {
  background-image: url(//ssl.gstatic.com/ui/v1/menu/tristate-checked.png);
}
.jfk-freestanding-menu-button {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background: url(//ssl.gstatic.com/ui/v1/disclosure/light-grey-disclosure-arrow-down.png) center no-repeat;
  border: 1px solid #e5e5e5;
  height: 11px;
  width: 11px;
  cursor: pointer;
}
.jfk-freestanding-menu-button-hover, .jfk-freestanding-menu-button-active, .jfk-freestanding-menu-button-open {
  background: url(//ssl.gstatic.com/ui/v1/disclosure/dark-grey-disclosure-arrow-down.png) center no-repeat #eee;
  border-color: #c6c6c6;
}
.jfk-select .goog-flat-menu-button-caption {
  overflow: hidden;
  width: 100%;
}
.jfk-select .goog-flat-menu-button-dropdown {
  background: url(//ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png) center no-repeat;
  border: none;
  height: 11px;
  margin-top: -4px;
  width: 7px;
}
.jfk-filtered-menu .goog-menu-filter {
  margin: 8px;
}
.jfk-filtered-menu .goog-menu-filter .jfk-textinput {
  box-sizing: border-box;
  height: 29px;
  width: 100%;
}
.jfk-activityIndicator {
  display: inline-block;
  position: relative;
  direction: ltr;
}
.jfk-activityIndicator, .jfk-activityIndicator-icon, .jfk-activityIndicator-circle, .jfk-activityIndicator-circle-transition {
  height: 19px;
  width: 19px;
}
.jfk-activityIndicator-small.jfk-activityIndicator, .jfk-activityIndicator-small .jfk-activityIndicator-icon, .jfk-activityIndicator-small .jfk-activityIndicator-circle, .jfk-activityIndicator-small .jfk-activityIndicator-circle-transition {
  height: 16px;
  width: 16px;
}
.jfk-activityIndicator-icon {
  background: url(//ssl.gstatic.com/ui/v1/activityindicator/offline.png) center no-repeat;
}
.jfk-activityIndicator-small .jfk-activityIndicator-icon {
  background: url(//ssl.gstatic.com/ui/v1/activityindicator/offline_16.png) center no-repeat;
}
.jfk-activityIndicator-icon {
  -webkit-transition: opacity .218s linear .44s;
  -moz-transition: opacity .218s linear .44s;
  -o-transition: opacity .218s linear .44s;
  transition: opacity .218s linear .44s;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
}
.jfk-activityIndicator-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 0;
  left: 0;
  position: absolute;
}
.jfk-activityIndicator-mask {
  overflow: hidden;
  position: absolute;
}
.jfk-activityIndicator-circle-transition {
  position: relative;
}
.jfk-activityIndicator-transition {
  -webkit-transition: all .22s ease-in;
  -moz-transition: all .22s ease-in;
  -o-transition: all .22s ease-in;
  transition: all .22s ease-in;
}
.jfk-activityIndicator-transition-second {
  -webkit-transition: all .22s ease-out .22s;
  -moz-transition: all .22s ease-out .22s;
  -o-transition: all .22s ease-out .22s;
  transition: all .22s ease-out .22s;
}
.ac-renderer {
  font: normal 13px Arial , sans-serif;
  position: absolute;
  background: #fff;
  border: 1px solid #666;
  -moz-box-shadow: 2px 2px 2px rgba(102,102,102,.4);
  -webkit-box-shadow: 2px 2px 2px rgba(102,102,102,.4);
  width: 300px;
}
.ac-row {
  cursor: pointer;
  padding: .4em;
}
.ac-highlighted {
  font-weight: bold;
}
.ac-active {
  background-color: #b2b4bf;
}
.goog-menu {
  background: #fff;
  border-color: #ccc #666 #666 #ccc;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  font: normal 13px Arial , sans-serif;
  margin: 0;
  outline: none;
  padding: 4px 0;
  position: absolute;
  z-index: 20000;
}
.jfk-progressStatus {
  color: #202020;
}
.jfk-progressText {
  color: #999;
}
.jfk-progressStatus, .jfk-progressText {
  line-height: 18px;
}
.jfk-progressBar-blocking .progress-bar-horizontal, .jfk-progressBar-nonBlocking .progress-bar-horizontal {
  border: 1px solid #999;
  padding: 1px;
  width: 320px;
}
.jfk-progressBar-blocking .progress-bar-thumb {
  background-color: #6188f5;
  height: 5px;
}
.jfk-progressBar-nonBlocking .progress-bar-thumb {
  background-color: #ccc;
  height: 5px;
}
.jfk-progressBar-blocking.jfk-progressBar-tall .progress-bar-thumb, .jfk-progressBar-nonBlocking.jfk-progressBar-tall .progress-bar-thumb {
  height: 8px;
}
.jfk-progressBar-blocking .progress-bar-thumb {
  -webkit-animation: jfk-progressBar-bg 0.8s linear 0s infinite;
  -moz-animation: jfk-progressBar-bg 0.8s linear 0s infinite;
  -o-animation: jfk-progressBar-bg 0.8s linear 0s infinite;
  animation: jfk-progressBar-bg 0.8s linear 0s infinite;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: 16px 8px;
  background-color: #6188f5;
  background-image: -webkit-linear-gradient(315deg,transparent,transparent 33%,rgba(0,0,0,.12)  33%,rgba(0,0,0,.12)  66%,transparent 66%,transparent);
  background-image: -moz-linear-gradient(315deg,transparent,transparent 33%,rgba(0,0,0,.12)  33%,rgba(0,0,0,.12)  66%,transparent 66%,transparent);
  background-image: -ms-linear-gradient(315deg,transparent,transparent 33%,rgba(0,0,0,.12)  33%,rgba(0,0,0,.12)  66%,transparent 66%,transparent);
  background-image: -o-linear-gradient(315deg,transparent,transparent 33%,rgba(0,0,0,.12)  33%,rgba(0,0,0,.12)  66%,transparent 66%,transparent);
  background-image: linear-gradient(315deg,transparent,transparent 33%,rgba(0,0,0,.12)  33%,rgba(0,0,0,.12)  66%,transparent 66%,transparent);
}
.jfk-progressBar-blocking.jfk-progressBar-tall .progress-bar-thumb {
  -webkit-animation: jfk-progressBar-bg-tall 0.8s linear 0s infinite;
  -moz-animation: jfk-progressBar-bg-tall 0.8s linear 0s infinite;
  -o-animation: jfk-progressBar-bg-tall 0.8s linear 0s infinite;
  animation: jfk-progressBar-bg-tall 0.8s linear 0s infinite;
  background-size: 20px 10px;
}
@-webkit-keyframes jfk-progressBar-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -16px 0;
  }
}
@-moz-keyframes jfk-progressBar-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -16px 0;
  }
}
@-o-keyframes jfk-progressBar-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -16px 0;
  }
}
@keyframes jfk-progressBar-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -16px 0;
  }
}
@-webkit-keyframes jfk-progressBar-bg-tall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -20px 0;
  }
}
@-moz-keyframes jfk-progressBar-bg-tall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -20px 0;
  }
}
@-o-keyframes jfk-progressBar-bg-tall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -20px 0;
  }
}
@keyframes jfk-progressBar-bg-tall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -20px 0;
  }
}
.jfk-progressbar .progress-bar-horizontal, .jfk-progressbar .progress-bar-vertical {
  border-color: #999;
}
.jfk-progressbar .progress-bar-thumb {
  background-color: #ccc;
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans' , Arial;
  font-size: 13px;
  color: #222;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans') , local('NotoSans') , url(fonts/NotoSans.woff) format('woff');
}
body {
  color: #2c2c2c;
}
ul {
  padding-left: 18px;
}
li {
  margin: 6px 0;
}
h1, h2, h3, h4 {
  font-weight: normal;
}
a {
  color: #15c;
  text-decoration: none;
}
header {
  -webkit-app-region: drag;
  padding-left: 20px;
  height: 48px;
}
header-text {
  width: 600px;
  float: left;
  line-height: 48px;
}
.steps {
  padding-left: 10px;
}
.hidden {
  display: none;
}
.device-model {
  position: absolute;
  right: 106px;
}
.spinner-message {
  vertical-align: top;
}
#gear-button {
  background-image: -webkit-image-set(url('img/topbar_button_settings.png')  1x,url('img/2x/topbar_button_settings.png')  2x);
}
#close-button {
  background-image: -webkit-image-set(url('img/topbar_button_close.png')  1x,url('img/2x/topbar_button_close.png')  2x);
}
buttonbar {
  display: -webkit-box;
  float: right;
  height: 48px;
}
buttonbar .button {
  -webkit-app-region: no-drag;
  -webkit-box-shadow: none;
  -webkit-margin-end: 10px;
  -webkit-margin-start: 10px;
  background-color: transparent;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  border: 0 none transparent;
  box-sizing: content-box;
  display: block;
  height: 48px;
  line-height: 21px;
  margin: 0;
  min-height: 21px;
  min-width: 0;
  outline: none;
  padding: 0;
  position: relative;
  text-align: center;
  width: 48px;
  z-index: 1;
}
buttonbar .button:hover, buttonbar .button:focus, buttonbar .button:active {
  background-color: #ededed;
}
.goog-menu {
  -webkit-app-region: no-drag;
}
buttonbar .goog-flat-menu-button {
  background: none;
  border: none !important;
  padding: 0 !important;
}
buttonbar .goog-flat-menu-button-dropdown {
  border-width: 0 !important;
}
buttonbar .goog-flat-menu-button-hover, buttonbar .goog-flat-menu-button-focused, buttonbar .goog-flat-menu-button-open {
  background-color: #ededed !important;
  border: none !important;
  box-shadow: none !important;
}
jfk-menu-item[disabled='disabled'] {
  opacity: .5;
}
section.instruction {
  border-top: solid 1px #e5e5e5;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
article {
  width: 798px;
  height: 430px;
  padding: 40px;
  background: #fff;
}
article li, a {
  line-height: 18px;
}
article:first-child {
  amargin-left: 0;
}
h1 {
  font-size: 22px;
  margin-bottom: 40px;
}
h2 {
  font-size: 13px;
  margin-bottom: 15px;
}
h3 {
  font-size: 13px;
  margin-bottom: 15px;
}
input[type="text"] {
  width: 300px;
  height: 28px;
  display: block;
  margin-bottom: 15px;
  padding: 0 5px;
}
img.image {
  width: 100%;
}
figure {
  float: right;
  background: #fff;
  width: 244px;
  height: 182px;
  text-align: center;
  margin: 0 0 0 40px;
}
figure figcaptionblock {
  margin: 12px;
}
figure figcaptiontext {
  font-size: 13px;
  color: #666;
}
.loader {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url("../images/loader-still.png") no-repeat;
}
summary.usb-name {
  margin: 15px 0;
  font-weight: bold;
}
.progress {
  display: block;
  width: 300px;
  height: 12px;
  margin: 15px 0;
  background: url("../images/progressbar-still.png") no-repeat;
}
button.bt-cancel {
  height: 29px;
  min-width: 78px;
  border: solid 1px #ddd;
  border-radius: 2px;
  font-weight: bold;
  font-size: 11px;
  border: 1px solid #dcdcdc;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5) ,to(#f1f1f1));
  color: #444;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 40px 40px 40px;
}
footer a {
  position: absolute;
  bottom: 40px;
}
footer button {
  float: right;
  height: 29px;
  min-width: 78px;
  padding: 0 7px;
  margin-left: 10px;
  border: solid 1px #ddd;
  border-radius: 2px;
  font-weight: bold;
  font-size: 11px;
  border: 1px solid #dcdcdc;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5) ,to(#f1f1f1));
  color: #444;
}
footer button:first-child {
  border-color: #3079ed;
  background-color: #4d90fe;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe) ,to(#357ae8));
  color: #fff;
}
mark {
  color: #666;
  background-color: transparent;
}
.label-for-control {
  font-size: 13px;
  margin-bottom: 15px;
  display: block;
}
button.disabled {
  opacity: 0.5;
}
button[disabled='disabled'] {
  opacity: 0.5;
}
jfk-select {
  display: block;
}
jfk-select .goog-flat-menu-button-dropdown {
  background: url(img/grey-disclosure-arrow-up-down.png) center no-repeat !important;
}
jfk-select .goog-flat-menu-button {
  width: 300px;
  text-align: left;
}
jfk-select .goog-flat-menu-button .goog-flat-menu-button-caption {
  font-size: 11px;
}
jfk-select .goog-flat-menu-button .goog-flat-menu-button-caption span {
  font-size: 11px;
}
goog-flat-menu-button-caption jfk-select[disabled='disabled'] {
  opacity: .5;
}
.jfk-activityIndicator-small .jfk-activityIndicator-icon {
  background: url(img/offline_16.png) center no-repeat !important;
}
.kd-errormessage {
  color: #dd4b39;
  padding: 9px 0;
}
#hwid_box {
  width: 300px;
  height: 28px;
  display: block;
  margin-bottom: 5px;
  padding: 0 5px;
}
.message {
  color: #666;
}
.match {
  color: #009933;
}
.match .icon {
  padding: 0 8px;
  margin-right: 8px;
  background-image: -webkit-image-set(url('img/checkmark_green.png')  1x,url('img/2x/checkmark_green_2x.png')  2x);
}
.error {
  color: #dd4b39;
}
.error .icon {
  background: #dd4b39;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  border-radius: 50px;
  padding: 0 7px;
  margin-right: 3px;
}
.error .icon:after {
  content: "!";
}
.warning {
  margin: 10px 0 15px 0;
}
.warning .icon:after {
  background: #fcd86d;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  float: left;
  border-radius: 50px;
  padding: 0 7px;
  margin-right: 8px;
}
.warning .icon:after {
  content: "!";
}
.warning .text {
  width: 360px;
}
.bottomspacer15 {
  margin: 0 0 15px 0;
}
#privacy-note, #privacy-note a {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: justify;
  text-justify: inter-word;
}
#progress {
  margin-top: 15px;
}
#progressText {
  margin-bottom: 15px;
}
