body {
  background: #f7f7f7;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

h1 {
  color: #255b61;
  font-family: "Londrina Solid";
  font-size: 35px;
}

h2 {
  color: #255b61;
  font-family: "Londrina Solid";
  font-size: 25px;
}

h3 {
  color: #255b61;
  font-family: "Londrina Solid";
  font-size: 20px;
  display: inline-block;
  margin: 0 20px 0 0;
}

header {
  margin-top: 30px;
}

.logo {
  display: inline-block;
}

.logo span {
  line-height: 40px;
  font-family: "Londrina Solid";
  font-size: 30px;
  margin-left: 10px;
  color: #255b61;
}

.logo img {
  height: 45px;
  float: left;
}

header ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}

header ul li {
  display: inline-block;
  line-height: 45px;
  margin-left: 5px;
}

header ul li i {
  color: #255b61;
  font-size: 1.8em;
  transition-duration: 0.3s;
}

header ul li i:hover {
  color: #a0b929;
}

.content {
  margin-top: 100px;
}

/*TABLE*/

table {
  width: 100%;
  box-sizing: border-box;
  font-family: "Lato", "Arial", sans-serif;
  color: #255b61;
  font-size: 14px;
  border-collapse: collapse;
  table-layout: fixed;
}

tr {
  height: 40px;
  opacity: 0.8;
  transition-duration: 0.3s;
}

td {
  overflow: hidden;
  text-align: right;
}

td p {
  white-space: nowrap;
  overflow-x: scroll;
}

tr:first-of-type {
  opacity: 1;
}

tr:hover {
  opacity: 1;
}

td:first-child,
th:first-child {
  padding-left: 20px;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  text-align: left;
}

td:last-child,
th:last-child {
  padding-right: 20px;
  border-radius: 0 10px 10px 0;
}

tr:nth-child(even) {
  background-color: #e8edee;
}

th {
  text-align: right;
  font-weight: bold;
}

.fa-external-link-alt {
  margin-right: 10px;
}

.fa-external-link-alt,
.fa-pause,
.fa-play,
td:first-child {
  cursor: pointer;
}

td.data-empty {
  text-align: center;
  border-radius: 10px;
}
td.loading {
  animation: blink 1s infinite;
}
.table-s {
  width: 10%;
}
.table-m {
  width: 15%;
}
.table-l {
  width: 55%;
}
.button-all {
  text-transform: uppercase;
  color: #fff;
  padding: 0 20px;
  border-radius: 10px;
  opacity: 0.8;
  transition-duration: 0.3s;
  font-family: "Lato", "Arial", sans-serif;
  cursor: pointer;
  float: right;
  height: 30px;
  box-sizing: border-box;
  margin: 50px 0 0 20px;
  line-height: 30px;
  opacity: 0.8;
  transition-duration: 0.2;
}
.button-all:hover {
  opacity: 1;
}

.button-all i {
  margin-right: 5px;
}

.play-all {
  background-color: #a0b929;
}

.pause-all {
  background-color: #c37d7d;
}

.remove-all i {
  margin-right: 5px;
}

.remove-all:hover {
  opacity: 1;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

input {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #e8edee;
  height: 35px;
  color: #255b64;
  font-size: 17px;
  display: block;
  margin: 0;
  outline: none;
  text-align: right;
  padding-right: 55px;
  margin-bottom: 12px;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  padding: 0;
  margin-bottom: 0;
  line-height: 25px;
  float: left;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-image: url("../../check-solid.png");
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
}

section span.cblabel {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding-left: 10px;
  color: #255b64;
  font-size: 14px;
}
.blocker {
  margin-top: 20px;
}

section.settings {
  margin-top: 80px;
}

.settings__section {
  display: flex;
  align-items: center;
}

.settings__section__content {
  flex: 1;
}

.settings__section section {
  display: inline-block;
  width: 150px;
  position: relative;
  margin-right: 20px;
}

.settings__section__time .label {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #255b64;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 5px;
  color: #fff;
  text-transform: uppercase;
  width: 55px;
  letter-spacing: 1.5px;
  border-radius: 0 5px 5px 0;
  cursor: default;
}

.settings__section__time input {
  box-sizing: border-box;
  padding-right: 65px;
  margin-bottom: 0;
}
